/* stylelint-disable indentation */
.country-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  top: 25%;
  position: absolute;
}

.country-box {
  width: 100%;
  height: 100%;
  margin: 0%;
}

  .even {
    background-color: rgb(225, 236, 209);
  }

.flag {
  width: 70%;
}

.search {
  position: absolute;
  width: fit-content;
  margin-top: 5%;
  top: 8%;
}

.country-name {
  text-decoration: none;
}
