.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  height: 10%;
  z-index: 999;
  background-color: #cf4378;
  font-weight: 700;
  font-size: 35px;
  color: #fff;
}

.nav-link {
  text-decoration: none;
}
